$primary-color: rgba(219,29,44,1);
$box-shadow: 0 0 20px 10px #8d8d8d;
$navigation-height-xl: 170px;
$navigation-height-large: 100px;
$content-width: 85%;
$content-max-width: 1140px;

// Responsive Viewports
$mobile-threshold: 1000px;
$smartphone-threshold: 652px;